.Favoritecontainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas */
    grid-gap: 20px;
}

.Favoritecard {
    border: 1px transparent gray;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    -webkit-box-shadow: -1px 0px 18px -8px rgba(84,84,84,1);
    -moz-box-shadow: -1px 0px 18px -8px rgba(84,84,84,1);
    box-shadow: -1px 0px 18px -8px rgba(84,84,84,1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.Favoritecard:hover {
    transform: scale(1.1); /* Aumenta el tamaño al 110% cuando se pasa el cursor */
    background-color: #E9F5E3;
}


.Favoritephoto img{
    border-radius: 50%;
    border: 5px solid #C1D72F;
    width: 110px; 
    height: 110px; 
}



img:hover{
    border: 5px solid white;
}

.Favoritetitle {
    font-family: "Lato", sans-serif;
    font-size: 35px;
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: 25px;
    letter-spacing: 1.5px;
    line-height: 1.2;
    }

.Favoriteremove {
    background-color: transparent; 
    border: 1px solid #CF6679; 
    border-radius: 7px;
    color:#CF6679; 
    padding: 7px 10px;
    font-size: 10px;
    cursor: pointer; 
    transition: all 0.3s ease;
}

.Favoriteremove:hover {
    background-color: #CF6679; 
    border-color: transparent; 
    color: white; 
}

.Favoritehr{
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, transparent, rgba(182, 182, 182, 0.801), transparent); 
    border: none;
}

.Favoritename{
    margin-top: 10px;
    font-family: "Tauri", sans-serif;
}

.Favoritemail{
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
.Favoritecontainer {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
}

.Favoritecard {
    font-size: 14px; /* Ajustar el tamaño de fuente para dispositivos más pequeños */
    padding: 5px; /* Ajustar el espaciado interno */
}
}
@media screen and (max-width: 576px) {

.Favoritephoto img {
    width: 110px; 
    height: 110px; 
}

.Favoritename,
.Favoritemail{
    font-size: 12px; /* Ajustar el tamaño de fuente del nombre y correo electrónico para dispositivos aún más pequeños */
    }
}

@media screen and (max-width: 320px){
    .Contactphoto img {
    width: 80px; 
    height: 80px; 
    }
    .Contactname,
    .Contactemail {
      font-size: 11px; /* Ajustar el tamaño de fuente del nombre y correo electrónico para dispositivos aún más pequeños */
    }

    .Contactitle{
    font-size: 25px;
    }

    }


@media screen and (max-width: 320px){
    .Favoritephoto img {
    width: 80px; 
    height: 80px; 
    }

    .Favoritename,
    .Favoritemail {
    font-size: 11px; /* Ajustar el tamaño de fuente del nombre y correo electrónico para dispositivos aún más pequeños */
    }
    
    .Favoritetitle{
    font-size: 25px;
    }
    
}
    

